* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -25px;
  padding: 20px;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/* Title */
.title {
  color: #212a6b; /* Deep navy blue */
}

.text-shadow-drop-right:hover {
  -webkit-animation: text-shadow-drop-right 0.4s 0.3s both;
  animation: text-shadow-drop-right 0.4s 0.3s both;
}
@-webkit-keyframes text-shadow-drop-right {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 6px 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-right {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 6px 0 18px rgba(0, 0, 0, 0.35);
  }
}

.text-shadow-drop-right {
  position: relative;
  cursor: pointer;
}

.text-shadow-drop-right::before,
.text-shadow-drop-right::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #fc2f70;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

.text-shadow-drop-right::before {
  left: -8px;
  transform-origin: center top;
}

.text-shadow-drop-right:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

.text-shadow-drop-right::after {
  right: -8px;
  transform-origin: center bottom;
}

.text-shadow-drop-right:hover::after {
  transform-origin: center top;
  transform: scaleY(1);
}

/* About */
.about {
  color: gray;
  max-width: 850px;
  padding: 20px 12px;
  margin: 0 auto;
}

/* Form Section */
h3 {
  cursor: default;
  color: #6a0505;
  font-size: 32px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0 2rem 0;
}

form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 5rem;
}

.form-container {
  max-width: 100%;
  display: flex;
  gap: 20rem;
}

@media (max-width: 760px) {
  .form-container {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

.labelSpan {
  cursor: default;
  font-size: 18px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Input */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.infoInput {
  max-width: 190px;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 15px 5px 10px 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  border-radius: 25px;
}

.infoInput::placeholder {
  color: #555;
  transition: all 0.3s ease;
}

.infoInput:focus {
  border: 0.5px solid gray;
}

.infoInput:focus::placeholder {
  color: #999;
}

.shadow-pop-tr:focus {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}

@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

/* Calculate Button */
.custom-btn {
  max-width: 100%;
  min-height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-1 {
  background: rgb(96, 9, 240);
  background: linear-gradient(
    0deg,
    rgba(96, 9, 240, 1) 0%,
    rgba(129, 5, 240, 1) 100%
  );
  border: none;
}

.btn-1:before {
  height: 0%;
  width: 2px;
}

.btn-1:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

/* Result Section */
.result {
  font-size: 2rem;
  color: #212a6b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
}
